/* Light Theme */
.light {
  --bg: #1c1c1c;
  --drop-bg: #fff;
  --bool:rgba(255, 255, 255, 0.8);
}

/* Dark Theme */
.dark {
  --bg: #fff;
  --drop-bg: #1c1c1c;
  --bool:rgba(59, 59, 59, 0.8);
}

.preloaderDrop {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--bg);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}

.drop {
    width: 30px;
    height: 30px;
    background: var(--drop-bg);
    border-radius: 50%;
    position: relative;
    box-shadow: 0 0 20px var(--bool);
    animation: dropAnimation 1s ease-out forwards,
               expandAnimation .7s 1s forwards;
}

.dropBack {
    width: 30px;
    height: 30px;
    background: var(--drop-bg);
    border-radius: 50%;
    position: relative;
    box-shadow: 0 0 20px var(--bool);
    animation: expandAnimation .7s forwards reverse,
        dropAnimationBack 1s .7s ease-out forwards reverse;
}

@keyframes dropAnimationBack {
    0% {
        transform: translateY(100vh) scaleY(0.8);
        opacity: 0;
    }
    50% {
        transform: translateY(0) scaleY(1.2);
        opacity: 1;
    }
    70% {
        transform: translateY(-20px) scaleY(0.9);
    }
    100% {
        transform: translateY(0) scaleY(1);
    }
}

@keyframes dropAnimation {
    0% {
        transform: translateY(-100vh) scaleY(0.8);
        opacity: 0;
    }
    50% {
        transform: translateY(0) scaleY(1.2);
        opacity: 1;
    }
    70% {
        transform: translateY(-20px) scaleY(0.9);
    }
    100% {
        transform: translateY(0) scaleY(1);
    }
}

@keyframes expandAnimation {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(100);
        background: var(--drop-bg);
    }
}


.DContent {
    position: absolute;
    right: 1.5rem;     /* nice padding */
    bottom: 1.5rem;
    transform-origin: bottom right;
    animation: fadeUp .3s ease;

    /* Default size (desktop) */
    --size : 0.9;
    --esize : 1;
    transform: scale(0.9);

    /* Large tablets */
    @media (max-width: 1024px) {
        --size : 0.75;
        --esize : 0.8;
        transform: scale(0.75);
        right: 1rem;
        bottom: 1rem;
    }

    /* iPads + medium phones */
    @media (max-width: 768px) {
        --size : 0.65;
        --esize : 0.7;
        transform: scale(0.65);
        right: 0.8rem;
        bottom: 0.8rem;
    }

    /* Small phones */
    @media (max-width: 550px) {
        --size : 0.55;
        --esize : 0.60;
        transform: scale(0.55);
        right: 0.5rem;
        bottom: 0.5rem;
    }

    /* VERY small screens */
    @media (max-width: 400px) {
        --size : 0.45;
        --esize : 0.50;
        transform: scale(0.45);
        right: 0.3rem;
        bottom: 0.3rem;
    }
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: scale(var(--size));
    }
    50% {
        transform: scale(var(--esize));
    }
    100% {
        opacity: 1;
        transform: scale(var(--size));
    }
}
